<template name="home">
{{#each products}}
<div class="row product-row">
    <div class="col-md-2">
    <img src="{{image}}" alt="Picture of {{name}}" class="full">
    </div>
    <div class="col-md-10">
        <h4>{{name}}</h4>
        <p>Average Rating: <img src="/img/star{{getAverage reviews}}.png" alt="Average rating is {{getAverage reviews}} stars." class="stars"> ({{getReviewsTotal reviews.length}})</p>
        <p>{{truncateText description 150}}</p>
        <a href="{{pathFor 'product'}}" class="btn btn-default">Read reviews</a> <a href="{{pathFor 'newReview'}}" class="btn btn-primary">Add a review</a>
    </div>
</div>
{{else}}
<p>There are no products yet.</p>
{{/each}}
</template>
