<template name="product">
<h3>{{name}}</h3>
<div class="row product-row">
    <div class="col-md-2">
    <img src="{{image}}" alt="Picture of {{name}}" class="full">
    </div>
    <div class="col-md-10">
        <h4>{{name}}</h4>
        <p>Average Rating: </p>
        <p>{{description}}</p>
    </div>
    {{#if currentUser}}
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="/new-review/{{_id}}" class="btn btn-success">Leave a Review</a>
            </div>
        </div>
    </div>
    {{/if}}
    <hr>
    <h4>Reviews &amp; Ratings</h4>
    {{#each reviews}}
    <div class="row">
        <div class="col-md-10">
            <img src="/img/star{{rating}}.png" alt="{{rating}} stars"> {{body}}
        </div>
        <div class="col-md-2">
            {{reviewDate}}
        </div>
    </div>
    {{/each}}
</div>
</template>
